
        h1{color: #00f;
        }
        body{background-color: chartreuse;}
        
        .header{
            background-color: #00dec0;
            display: flex;
            justify-content: space-between;
        }
        .game{
            display: flex;
            justify-content: space-between;
        }

        .description{
            color:blue;
            border:0px;
            font-family: 'Courier New', Courier, monospace;
            font-size: xx-large;
            text-align: center;
            
        }
        .Ending{
            background-color: white;
            height: 60px;
            text-align: center;
            padding: 5px;
        }

 